* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font-family: "Fira Code", monospace;
	box-sizing: border-box;
	color: whitesmoke;
	background-color: inherit;
}

body {
  background-color: black;
}

h1 {
  color: rgb(200, 30, 30);
  font-size: 40px;
}

h2 {
}

p {
  font-size: 18px;
  margin: 4px 0;
}

.article, .body, .header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.body, .header, .footer {
  margin: 24px 0;
  align-items: center;
  text-align: center;
}

.button {
  margin: 8px 0;
  background-color: rgb(200, 30, 30);
  border-radius: 100px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.icon {
  height: 32px;
  max-width: 50px;
}
